---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

<!-- <p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p> -->

<!-- {% for post in site.talks reversed %} -->
<!--   {% include archive-single-talk.html %} -->
<!-- {% endfor %} -->
<h2>Conference Presentations </h2>
<h3>2019</h3>
Mattis, S. and Wohlmuth, B., "Accelerating Prediction under Uncertainty for Groundwater Problems." SIAM Conference on Mathematical & Computational Issues in the Geosciences, Houst, TX, March 2019
<br><br>

Mattis, S. and Wohlmuth, B., "Accelerating Prediction under Uncertainty with Dimension Reduction." SIAM Conference on Computational Science and Engineering, Spokane, WA, February 2019
<br><br>

<h3>2018</h3>
Mattis, S. and Wohlmuth, B., "Goal-Oriented Adaptive Surrogate Construction for Efficient Predictions Under Uncertainty." 6th European Conference on Computational Mechanics and 7th European Conference on Computational Fluid Dynamics, Glasgow, United Kingdom, June 2018
<br><br>



Mattis, S. and Wohlmuth, B., "Goal-Oriented Surrogate Construction for Groundwater Problems." The XXII International Conference Computational Methods in Water Resources, Saint-Malo, France, June 2018
<br><br>
<h3>2017</h3>


Mattis, S. and Wohlmuth, B., "Goal-oriented adaptive sampling for groundwater problems." SIAM Conference on Mathematical and Computational Issues in the Geosciences, Erlangen, Germany, September 2017

Mattis, S. "Measure-Theoretic Stochastic Inversion of Groundwater Problems." Frontiers of Uncertainty Quantification in Engineering (FrontUQ), Munich, Germany, September 2017
<br><br>


Mattis, S. and Butler, T, "Error Estimation and Adaptive Error Control in Measure-Theoretic Stochastic Inversion." SIAM Conference on Computational Science and Engineering, Atlanta, GA, March 2017
<br><br>

<h3>2016</h3>


Mattis, S. and Graham, L., "BET: Software for Measure-Theoretic Stochastic Problems," The XXI International Conference Computational Methods in Water Resources, Toronto, Canada, June 2016
<br><br>


Mattis, S., Butler, T., and Dawson, C., "Error Estimation and Control for Stochastic Inversion of Groundwater Contamination Problems," European Congress on Computational Methods in Applied Sciences and Engineering, Crete Island, Greece, June 2016
<br><br>


Mattis, S., Dawson, C., Butler, T., and Graham, L., "A Measure-Theoretic Approach to Parameter Estimation," SIAM Conference on Uncertainty Quantification, Lausanne, Switzerland, April 2016
<br><br>

<h3>2015</h3>


Mattis, S., Dawson, C., and Butler, T., "Uncertainty Quantification for Groundwater Contamination Using Measure Theory." 13th U.S. National Congress on Computational Mechanics, San Diego, CA, July 2015
<br><br>

Mattis, S., Butler, T., Dawson, C., "Probabilistic Parameter Estimation and Prediction for Groundwater Contamination." SIAM Conference on Mathematical and Computational Issues in the Geosciences, Stanford, CA, June 2015
<br><br>

Mattis, S. and Graham, L., "BET: Applications for an Open Source Inverse Problems Package." SIAM Conference on Computational Science and Engineering, Salt Lake City, UT, March 2015
<br><br>

Mattis, S., "Modeling Flow and Transport Through Idealized Coastal Vegetation." SIAM Conference on Computational Science and Engineering, Salt Lake City, UT, March 2015
<br><br>

Mattis, S., Dawson, C., and Butler, T., "A Scalable Measure-Theoretic Approach to the Stochastic Inverse Problem for Groundwater Contamination." SIAM Conference on Computational Science and Engineering, Salt Lake City, UT, March 2015
<br><br>

<h3>2014</h3>


Mattis, S., Dawson, C., Butler, T. "UQ and Decision Making for Groundwater Contamination: A Measure-Theoretic Approach." AGU Fall Meeting, San Francisco, CA, December 2014
<br><br>


Mattis, S., Dawson, C., Butler, T., Estep, D. "Measure-Theoretic Uncertainty quantification and parameter estimation for groundwater contaminant transport."  SIAM Annual Meeting, Chicago, IL, July 2014
<br><br>


Mattis, S., Dawson, C., Butler, T., Estep, D. "Uncertainty quantification and parameter estimation for groundwater contaminant transport." The XX. International Conference on Computational Methods in Water Resources, The University of Stuttgart, Germany, June 2014
<br><br>

<h3>2013</h3>


Mattis S., Dawson, C., Kees, C. and Farthing, W., "Modeling Resistance Due to Flexible Vegetation." The 12th International workshop on Multi-scale (Un)-structured mesh numerical Modeling for coastal, shelf, and global ocean dynamics, Austin, TX, September 2013
<br><br>


Mattis S., Dawson, C., Kees, C. and Farthing, W., "An Immersed Boundary Method for Fluid-Vegetation Interaction." U.S. National Congress on Computational Mechanics, Raleigh, NC, July 2013
<br><br>


Mattis S., Dawson, C., Kees, C. and Farthing, W., "Numerical Modeling of Flow Over Flexible Vegetation." SIAM Conference on Mathematical and Computational Issues in the Geosciences, Padova, Italy, June 2013
<br><br>


Mattis S., Dawson, C., Kees, C. and Farthing, W., "Numerical Modeling of Flow Over Flexible Vegetation." SIAM Annual Meeting, Minneapolis, MN, July 2012
<br><br>

<h3>2012</h3>

Mattis S., Dawson, C., Kees, C. and Farthing, W., "Modeling of Flow Through Porous Structures and Vegetated Regions." Computational Methods in Water Resources, Urbana-Champaign, IL, June 2012
<br><br>

<h3>2011</h3>

Mattis S., Dawson, C., Kees, C. and Farthing, W., "Numerical Modeling of Flow Through Porous Structures and Vegetated Regions." SIAM Conference on Mathematical and Computational Issues in the Geosciences, Long Beach, CA, March 2011.
<br><br>

<h3>2000</h3>


Mattis, S. and Dawson, C., "Homogenization and Darcy-Forchheimer flow through porous media." Center for Subsurface Modeling Annual Affiliates Meeting, University of Texas at Austin, October 2009.
<br><br>

<h3>2008</h3>

Mattis. S, "A Stochastic Mathematical Model for Cell Morphogenesis." American Mathematical Society/Mathematical Association of America Joint Meetings, Student Poster Session, San Diego, CA , January 2008.
<br><br>


<h2>Invited Talks </h2>
Mattis, S. "Measure-Theoretic Stochastic Inversion of Groundwater Contamination Problems," Simula Research Laboratory, Oslo, Norway, March, 2016
<br><br>

Mattis, S. "Measure-Theoretic parameter estimation and prediction for contaminant transport and coastal ocean modeling," Rocky Mountain Summer Workshop on Uncertainty Quantification, University of Colorado Denver, July, 2015 
<br><br>

Mattis, S., "Modeling Flow and Transport Through Obstructed Regions," Center for Computational Mathematics, University of Colorado Denver, September, 2014

<h2>Sessions Organized </h2>
Co-Organizer, Minisymposium on Advances in uncertainty quantification methods for hydrological applications, SIAM Conference on Mathematical and Computational Issues in the Geosciences, Erlangen, Germany, September 2017
<br><br>
Co-Organizer, Minisymposium on the Solution of Large-scale Inverse Problems, European Congress on Computational Methods in Applied Sciences and Engineering, Crete Island, Greece, June, 2016
<br><br>
Co-Organizer, Rocky Mountain Summer Workshop on Uncertainty Quantification, University of Colorado Denver, July, 2015 
<br><br>
Co-Organizer, Minisymposium on Error Analysis and Scalability of UQ Methodologies for Inverse Problems, SIAM Conference on Computational Science and Engineering, Salt Lake City, UT, March, 2015
